<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" ceontent="width=device-width, initial-scale=1">

    <title>{{ .Title }}</title>
    <meta name="description" content="">

    <link href="{{ .Site.BaseURL }}/css/main.css" rel="stylesheet">

  </head>
  <body>
    <div class="hero" >
      <div class="hero-title">
        <h1 class="pagetitle">{{ .Title }}</h1>
      </div>


      <p>Welcome to eareese.com</p>
      <p>The official website of Emily Reese</p>

    </div>
  </body>
</html>
